.div{
    height: 400px;
    width: 800px;
    margin: 50px 120px;
}
.frm{
    float: left;
    height: 100%;
    width: 50%;
}
.values{
    float: left;
    height: 100%;
    width: 48%;
}
.frm input{
    height: 10%;
    width: 90%;
    margin-top: 50px;
    padding-left: 10px;
}
.frm button{
    height: 10%;
    width: 93.4%;
    margin-top: 50px;
    cursor: pointer;
}
.values h1{
    padding-top: 35px;
    padding-left: 20px;
}
.values span{
    color: red;
}